* {
    margin: 0;
    padding: 0;
    background-color: orange;
    color: purple;
}

#top {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}